<div class="dynamic-forms-container">
  <div class="dynamic-forms-left">
    <button matButton="filled" (click)="loadForm()">
      {{ isFormLoaded() ? "Hide Form V1" : "Load Form V1" }}
    </button>
    @if (isFormLoaded()) {
    <div class="form-container">
      <form [formGroup]="form">
        @for (field of config(); track $index; let i = $index) {
        @switch(field.type){ @case ('input') {
        <app-input [field]="field" [controlName]="field.name" />
        } @case ('select') {
        <app-select [field]="field" [controlName]="field.name" />
        } @case ('checkbox') {
        <app-checkbox [field]="field" [controlName]="field.name" />
        } } }
      </form>
    </div>
    }
  </div>
  <div class="dynamic-forms-right">
    <ng-container
      [ngComponentOutlet]="displayForm | async"
      [ngComponentOutletInputs]="{
        form,
        showForm: isFormLoaded()
      }"
    ></ng-container>
  </div>
</div>
