<div class="dynamic-forms-container">
  <div class="dynamic-forms-left">
    <button matButton="filled" (click)="loadForm()">
      {{ isFormLoaded() ? "Hide Form V2" : "Load Form V2" }}
    </button>
    @if (isFormLoaded()) {
    <div class="form-container">
      <form [formGroup]="form">
        @for (field of config(); track $index; let i = $index) {
        <ng-container
          [ngComponentOutlet]="fieldComponents[i] | async"
          [ngComponentOutletInputs]="{
            field: field,
            controlName: field.name
          }"
        ></ng-container>
        }
      </form>
    </div>
    }
  </div>
  <div class="dynamic-forms-right">
    <ng-container
      [ngComponentOutlet]="displayForm | async"
      [ngComponentOutletInputs]="{
        form,
        showForm: isFormLoaded()
      }"
    ></ng-container>
  </div>
</div>
