:host {
  mat-toolbar {
    background: #90c9ff;
    color: #09457c;
  }
  .toolbar-container {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;

    span {
      cursor: pointer;
    }

    div {
      display: flex;
      gap: 1rem;
    }
  }
}
